html, body { 
	font-family: "Ubuntu Mono", Monaco, monospace;
	margin: 0px; 
	padding: 0px; 
	height: 100%; 
	overflow: hidden;
}

a {
  color: #D34645;
  text-decoration: none;
}

a:hover {
	color: #9B3131;
}

a:active,
a:focus {
  color: #9B3131;
}

.ui {
	display: none;
}

#music {
	position: absolute;
	padding: 10px;
	color: #454545;
	font-size: 12px;
}

#score{
	position: fixed;
	padding: 10px;
	top: 40px;
	right: 0;
	font-size: 20px;
	color: #B5DCB4;
}

#points{
	font-size: 26px;
	color: #D34645;
}

#timer {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 40px;
	color: #B5DCB4;
	padding: 10px;
}

#seconds {
	color: #D34645;
}

#loading {
	margin-top: 20px;
	text-align: center;
}

#menu {
	margin-top: 80px;
	text-align: center;
}

#menu img {
	display: block;
	margin: 0px auto 50px auto;
}

#menu #play {
	font-size: 25px;
	background-color: #B5DCB4;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
}

#menu #play:hover {
	background-color: #D34645;
}

#menu h1 {
	color: #b5dcb4;
}

.red {
	color: #D34645;
}

.grey {
	color: #666;
}

#over {
	position: absolute;
	margin-top: 100px;
	text-align: center;
	font-weight: bold;
	color: #D34645;
	display: none;
	font-size: 50px;
	width: 100%;
	margin-left: 30px;
}

#over-text {
	margin-bottom: 0px;
	font-size: 200px;
}

#play-again {
	font-size: 25px;
	background-color: #D34645;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
}

#play-again:hover {
	background-color: #B5DCB4;
}